ClubDeportivo/Connected Services/ServiceClubSolis/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ActividadSocioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdActividad" type="xs:int" />
      <xs:element minOccurs="0" name="IdSocio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActividadSocioDTO" nillable="true" type="tns:ActividadSocioDTO" />
  <xs:complexType name="ActividadSocioDTOResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActividadSocioDTOResult" nillable="true" type="tns:ActividadSocioDTOResult" />
</xs:schema>